avm/devnet
node_modules/
test/files/

.tmp/
.vscode/

*.log
*.err
*.zip

# db files
*.db*

# local scripts
.*.sh

# bundle files in frontend/static
frontend/static/*.bundle.*

# env files
*.env
.env.*
# but don't ignore example env file
!config/.env.example
