avm/devnet
dev-ssl-certificates/
node_modules/
.tmp/
.vscode/
*.log
*.err
*.zip

# db files
*.db*

# local scripts
.*.sh

# bundle files in frontend/static
frontend/static/*.bundle.*

# env
*.env
.env.*
